RewriteEngine On
RewriteBase /eysphp/public/

# Si la solicitud no apunta a un archivo o directorio real, redirigirla a index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]

